<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.springmvc.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="cn.springmvc.model.Comment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="classes" property="classes" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="VARCHAR" />
    <result column="pass" property="pass" jdbcType="VARCHAR" />
    <result column="comment_time" property="commentTime" jdbcType="TIMESTAMP" />
    <result column="demoone" property="demoone" jdbcType="VARCHAR" />
    <result column="demotwo" property="demotwo" jdbcType="VARCHAR" />
    <result column="demothree" property="demothree" jdbcType="VARCHAR" />
    <result column="demofour" property="demofour" jdbcType="VARCHAR" />
    <result column="demofive" property="demofive" jdbcType="VARCHAR" />
    <result column="demosix" property="demosix" jdbcType="VARCHAR" />
    <result column="demoseven" property="demoseven" jdbcType="VARCHAR" />
    <result column="demoeight" property="demoeight" jdbcType="VARCHAR" />
    <result column="demonine" property="demonine" jdbcType="VARCHAR" />
    <result column="demoten" property="demoten" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="expert_id" property="expertId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, content, classes, score, sort, pass, comment_time, demoone, demotwo, demothree, 
    demofour, demofive, demosix, demoseven, demoeight, demonine, demoten, project_id, 
    expert_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.springmvc.model.Comment" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into comment (content, classes, score, 
      sort, pass, comment_time, 
      demoone, demotwo, demothree, 
      demofour, demofive, demosix, 
      demoseven, demoeight, demonine, 
      demoten, project_id, expert_id
      )
    values (#{content,jdbcType=VARCHAR}, #{classes,jdbcType=VARCHAR}, #{score,jdbcType=VARCHAR}, 
      #{sort,jdbcType=VARCHAR}, #{pass,jdbcType=VARCHAR}, #{commentTime,jdbcType=TIMESTAMP}, 
      #{demoone,jdbcType=VARCHAR}, #{demotwo,jdbcType=VARCHAR}, #{demothree,jdbcType=VARCHAR}, 
      #{demofour,jdbcType=VARCHAR}, #{demofive,jdbcType=VARCHAR}, #{demosix,jdbcType=VARCHAR}, 
      #{demoseven,jdbcType=VARCHAR}, #{demoeight,jdbcType=VARCHAR}, #{demonine,jdbcType=VARCHAR}, 
      #{demoten,jdbcType=VARCHAR}, #{projectId,jdbcType=INTEGER}, #{expertId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.springmvc.model.Comment" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="content != null" >
        content,
      </if>
      <if test="classes != null" >
        classes,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="pass != null" >
        pass,
      </if>
      <if test="commentTime != null" >
        comment_time,
      </if>
      <if test="demoone != null" >
        demoone,
      </if>
      <if test="demotwo != null" >
        demotwo,
      </if>
      <if test="demothree != null" >
        demothree,
      </if>
      <if test="demofour != null" >
        demofour,
      </if>
      <if test="demofive != null" >
        demofive,
      </if>
      <if test="demosix != null" >
        demosix,
      </if>
      <if test="demoseven != null" >
        demoseven,
      </if>
      <if test="demoeight != null" >
        demoeight,
      </if>
      <if test="demonine != null" >
        demonine,
      </if>
      <if test="demoten != null" >
        demoten,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="expertId != null" >
        expert_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="classes != null" >
        #{classes,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=VARCHAR},
      </if>
      <if test="pass != null" >
        #{pass,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null" >
        #{commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="demoone != null" >
        #{demoone,jdbcType=VARCHAR},
      </if>
      <if test="demotwo != null" >
        #{demotwo,jdbcType=VARCHAR},
      </if>
      <if test="demothree != null" >
        #{demothree,jdbcType=VARCHAR},
      </if>
      <if test="demofour != null" >
        #{demofour,jdbcType=VARCHAR},
      </if>
      <if test="demofive != null" >
        #{demofive,jdbcType=VARCHAR},
      </if>
      <if test="demosix != null" >
        #{demosix,jdbcType=VARCHAR},
      </if>
      <if test="demoseven != null" >
        #{demoseven,jdbcType=VARCHAR},
      </if>
      <if test="demoeight != null" >
        #{demoeight,jdbcType=VARCHAR},
      </if>
      <if test="demonine != null" >
        #{demonine,jdbcType=VARCHAR},
      </if>
      <if test="demoten != null" >
        #{demoten,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="expertId != null" >
        #{expertId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.springmvc.model.Comment" >
    update comment
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="classes != null" >
        classes = #{classes,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=VARCHAR},
      </if>
      <if test="pass != null" >
        pass = #{pass,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null" >
        comment_time = #{commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="demoone != null" >
        demoone = #{demoone,jdbcType=VARCHAR},
      </if>
      <if test="demotwo != null" >
        demotwo = #{demotwo,jdbcType=VARCHAR},
      </if>
      <if test="demothree != null" >
        demothree = #{demothree,jdbcType=VARCHAR},
      </if>
      <if test="demofour != null" >
        demofour = #{demofour,jdbcType=VARCHAR},
      </if>
      <if test="demofive != null" >
        demofive = #{demofive,jdbcType=VARCHAR},
      </if>
      <if test="demosix != null" >
        demosix = #{demosix,jdbcType=VARCHAR},
      </if>
      <if test="demoseven != null" >
        demoseven = #{demoseven,jdbcType=VARCHAR},
      </if>
      <if test="demoeight != null" >
        demoeight = #{demoeight,jdbcType=VARCHAR},
      </if>
      <if test="demonine != null" >
        demonine = #{demonine,jdbcType=VARCHAR},
      </if>
      <if test="demoten != null" >
        demoten = #{demoten,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="expertId != null" >
        expert_id = #{expertId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.springmvc.model.Comment" >
    update comment
    set content = #{content,jdbcType=VARCHAR},
      classes = #{classes,jdbcType=VARCHAR},
      score = #{score,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=VARCHAR},
      pass = #{pass,jdbcType=VARCHAR},
      comment_time = #{commentTime,jdbcType=TIMESTAMP},
      demoone = #{demoone,jdbcType=VARCHAR},
      demotwo = #{demotwo,jdbcType=VARCHAR},
      demothree = #{demothree,jdbcType=VARCHAR},
      demofour = #{demofour,jdbcType=VARCHAR},
      demofive = #{demofive,jdbcType=VARCHAR},
      demosix = #{demosix,jdbcType=VARCHAR},
      demoseven = #{demoseven,jdbcType=VARCHAR},
      demoeight = #{demoeight,jdbcType=VARCHAR},
      demonine = #{demonine,jdbcType=VARCHAR},
      demoten = #{demoten,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER},
      expert_id = #{expertId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>